a.scroll-to-top(href="#anchor-navbar-top")
    span.caret-icon.top

footer
    section.footer-contacts
        .container.footer-contacts__container
            .footer-contacts__wrap
                .footer-contacts__single
                    span.footer-contacts__text
                        p.footer-contacts__p Volejte Po-Pá: 8:00 - 16:00
                        h3.footer-contacts__h3 +420 777 888 042
                .footer-contacts__single
                    span.footer-contacts__text
                        p.footer-contacts__p Pište na emailovou adresu
                        h3.footer-contacts__h3 info@ellinterier.cz
                .footer-contacts__single
                    span.footer-contacts__text
                        h3.footer-contacts__p Sledujte nás také na
                        a.footer-contacts__link(href="#") Facebooku

    section.footer-bar
        .container.footer-contacts__container
            .footer-bar__email
                h3.footer-bar__h3 Přihlaste se k odběru novinek na email
                .footer-bar__email-form
                    form(method="post")
                        input.form-control.footer-bar__input(type="text" name="email-sub-input" id="email-sub-input" placeholder="Zadejte vaši emailovou adresu..." required)
                        button.btn.form-control.footer-bar__btn( type="submit" name="email-sub-button" id="email-sub-button") Odebírat
                    p.footer-bar__legal Přihlášením souhlasíte se #[a(href="#") zpracováním osobních údajů]

    section.footer-main
        .container
            .row
                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 O nákupu
                    a.footer-main__link(href="#") Obchodní podmínky
                    a.footer-main__link(href="#") Reklamační řád
                    a.footer-main__link(href="#") Jak nakupovat
                    a.footer-main__link(href="#") Doprava zdarma
                    a.footer-main__link(href="#") Ochrana osobních údajů
                    a.footer-main__link(href="#") Časté dotazy

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 O společnosti
                    a.footer-main__link(href="#") Proč nakupovat u nás
                    a.footer-main__link(href="#") Kamenná prodejna
                    a.footer-main__link(href="#") Kontakty
                    a.footer-main__link(href="#") Aktuality

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Uživatel
                    a.footer-main__link(href="#") Přihlášení
                    a.footer-main__link(href="#") Registrace
                    a.footer-main__link(href="#") Zapomenuté údaje

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Kontakty
                    p.footer-main__text Ellinterier.cz
                    p.footer-main__text Místecká 123/123
                    p.footer-main__text 720 00 Ostrava
                    p.footer-main__text +420 999 888 777
                    a.footer-main__link(href="#") Více kontaktů



section.copyright
    .container.copyright__container
        .copyright__wrap
            h5.copyright__h5 Copyright © 2018 #[a.copyright__link(href=metaURL) #{metaSitename}] Všechna práva vyhrazena.
            h5.copyright__pull Vytvořeno v #[a.copyright__link(href=metaAuthorURL) #{metaAuthor}]
            p.copyright__farm #[a.copyright__farm-link(href="#") Postele z masivu] za nejlepší ceny, #[a.copyright__farm-link(href="#") Dětské boty] a oblečení, výroba bazénových krytů a prodej #[a.copyright__farm-link(href="#") Polykarbonátu], Frýdek-Místek je #[a.copyright__farm-link(href="#") FAJNEMJESTO], nejlepší DJ v okolí #[a.copyright__farm-link(href="#") DJ Jan Opěla]
