section.news-bottom
    .container
        h2 Nejnovější aktuality
        .row
            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                include _news-single.pug

            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                include _news-single.pug

            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                include _news-single.pug

            .col-12.col-sm-12.col-md-6.col-lg-3.col-xl-3
                include _news-single.pug

        .news-bottom-btn     
            a.btn.btn-ghost(href="#") Archiv aktualit #[span.btn__icon.arrow-icon]
