nav.navbar.navbar-expand-lg.navbar-menu
	.navbar-menu__container
		.collapse.navbar-collapse.navbar-menu__collapse(id="navbarNav")
			ul.navbar-nav.navbar-menu__navbar
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					.dropdown.nav-item__dropdown
						a.dropdown-toggle.nav-link.nav-item__link(id="navDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Akční sety
						.dropdown-menu.nav-item__dropdown-menu(aria-labelledby="navDropdown1")
							.container.nav-item__container
								.row.nav-item__row
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.nav-item__column.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
									.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.dropdown-column
										a.dropdown-item.dropdown-column__link(href="#")
											h5.dropdown-column__title #[span.arrow-icon.white.dropdown-column__icon] Vítr ve studiu
				li.nav-item.navbar-menu__nav-item
					a.nav-link.nav-item__link(href="#") Půjčovna