- var lang = "cs";

- var title = "Vše pro Váš nábytek | Ellinterier.cz";

- var metaDescription = "Vše pro Váš nábytek";

- var metaKeywords = "nábytek, ";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://Ellinterier.cz";

- var metaSitename = "Ellinterier.cz";


- var URLbase = "";


- var metaTwitterName = "@ellinterier";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "ellinterier";

- var metaYoutubeName = "ellinterier";

- var metaInstagramName = "ellinterier";



- var ProductName = "Židle z masivu Staník - 4 barvy";