.subcategories-grid{
margin: 3rem 0 2rem 0;
}
.subcategories-grid__single{
    background: $bg-white;
    display: block;
    color: $text-primary;
    border: 1px solid $brand-primary;
    padding: 1.5rem 2.5rem;
    margin: 10px 0;
    border-radius: $border-radius-primary;

    &:hover, &:active, &:focus{
        color: $white;
        text-decoration: none;
        background: $bg-dark;
        border: 1px solid $bg-dark;
    }
}
.subcategories-grid__icon{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;

    &::before{
        border-color: $orange-main;
    }
    &::after{
        background: $orange-main;
    }  
}

.top-products {
    margin-bottom: 0rem;
    position: relative;
    padding: 0;
}
.top-products__title-wrap{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 3rem;


}
.top-products__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-weight: 600;
    background: $bg-white;
    z-index: 2;
    display: inline-block;
    padding: 0 2rem;
}
@media screen and (min-width:992px){
    .top-products {
        margin-bottom: 4rem;
        padding: 3rem 0;
    }
    .top-products .cart-item-single:nth-child(2){
        border-top: 1px solid $border-primary;
    }
    .top-products .cart-item-single__thumb-wrap{
        width: 190px;
    }
}

.cart-item-single__rank-wrap{
    padding: 20px;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
}
.cart-item-single__rank{
    background: $brand-primary;
    padding: 10px;
    border-radius: $border-radius-round;
    color: $text-white;
    margin: 0;
    height: 30px;
    width: 30px;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
}
@media screen and (max-width:767px){
    .cart-item-single__rank-wrap{
        padding-left: 0;
    }

}

.top-products .cart-item-single:nth-child(3) .cart-item-single__rank{
    background: #ababab;
}
.top-products .cart-item-single:nth-child(4) .cart-item-single__rank{
    background: #bb7449;
}